.main__header{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    margin-top: 6rem;
}
.main_header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.main_header_left{
    margin-top: -3rem ;
}
.main_header_left h4{
margin-bottom: 1rem;
color: #38b6ff;
font-size: 400;
}
.main_header_left p{
    margin: 1rem 0 3.5rem;
    
}

.programs{
margin-top: 4rem;
margin-bottom: 5rem;
}
.program_wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin-top: 4rem;
}
.programs_program a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.programs_program:hover a{
    background: #38b6ff ;
    color: var(--color-gray-600); }

.testimonials{
   width:50rem;
   margin-inline: auto;
}
.testimonials_head {
    justify-content: center;
}
.card.testimonial{
position: relative;
text-align: left;
margin-top: 5rem;
}
.testimonial_avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1,5rem 2rem rgba(26,26,54,0.4) ; 
    transition: var(--transition);
}
.testimonial:hover .testimonial_avatar{
    border-radius: 50%;
    border-color: var(--color-gray-400);
}

.testimonial_quote {
    font-style:italic;
    margin: 1rem 0rem 2rem;
}

.card small.testimonial_title{
    margin-top: 0.3rem;
}
.testimonials_btn-container{
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonials_btn {
    background: transparent;
    cursor: pointer;
}
.testimonials_btn svg{
    fill: #38b6ff;
    font-size: 1.8rem;
    width:3rem;
    height: 3rem;
}
footer {
    background: black;
    margin-top: 7rem;
    padding-top: 3rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}
.footer_container{
    display: grid;
    gap: 5rem;
    grid-template-columns:50rem 1fr 1fr 1fr;
}
.logo{
    width: 15rem;
     display: block;   
     position: relative;
     top: -1.2rem; 
}
.footer_container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.7rem;
}
.footer_container article p{
    margin-top: 1rem;
}
.footer_container article h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
}
.footer_socials{
    margin-top: 1.5rem;
    display: flex;
    gap:2rem;
     align-items: center;
}
.footer_socials a {
    border: 1px solid transparent;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    background: #38b6ff;
    transition: var(--transition);
}
.footer_socials a svg{
    color: white;
}
.footer_socials a:hover{
    border-color: var(--color-gray-100);
    background-color: transparent;
}
.footer_copyright{
    color: var(--color-gray-100);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid #38b6ff;
    margin-top: 5rem;

}
.linky a:hover{
  color: #38b6ff;
}
.touche a:hover{
    color: #38b6ff;
}


@media screen  and (max-width:1024px) {
   .main__header{
    height: fit-content;
    padding: 12rem 0;
   }
   .main_header-container{
    gap:0;
   }
   .program_wrapper{
    grid-template-columns: 1fr 1fr;
}
.testimonials{
    width: 50%;
}
.footer_container{
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
  }
  @media screen  and (max-width:600px) {
    .main__header{
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
}
.main_header_image{
    display: none;
}
.main_header-container{
    grid-template-columns: 1fr;
}
.program_wrapper{
 grid-template-columns: 1fr;   
 gap:2rem;
 margin-top: 3rem;
}
.programs_program{
    width: 84%;
    margin:0 auto;
}
.testimonials{
    width: 100%;
}
footer{
    margin-top: 7rem;
}
.footer_container{
    grid-template-columns: 1fr;
    gap: 3rem;
}
.footer_container article{
    align-items: center;
    }
    .footer_container article p{
        text-align: center;
        
    }

  }
  